BODY {
   margin: 0px;
   padding: 0px;
}
#canvas {
    display: none;
    float: left;
}
#games {
    border-style: solid;
    border-width: 1px;
    height: 140px;
    width: 500px;
    overflow: auto;
    clear: left;
}
#scores_tab {
    display: none;
    border-style: solid;
    border-width: 1px;
    height: 120px;
    width: 130px;
    overflow: auto;
    float: left;
}
#etitorTools {
    display: none;
    border-style: solid;
    border-width: 1px;
    overflow: auto;
}
